/*기본색상 : #48cfad*/

html,body{
  margin : 0 ; padding : 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/*
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Ubuntu', sans-serif;
*/

button:active, button:focus , input:active,input:focus{
  outline :none;
}
button {
  cursor: pointer;
}

