/*기본색상 : #48cfad . color:#bcf1e4;
*/
html,body{
  margin : 0px; ; padding : 0;

  box-sizing: border-box;
  /*font-family: 'Lato', sans-serif;*/
}
/*
font-family: 'Nanum Gothic Coding', monospace; 
font-family: 'Ubuntu', sans-serif; ->큰 영문글씨
*/
button:active, button:focus , input:active,input:focus, textarea:active,textarea:focus{
  outline :none;
}
button {
  cursor: pointer;
}


